        body {
        background-image: url(space.png);
        opacity: 1;
    }
    
    .conteneur {
        /* display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 1 fr);*/
        align-content: center;
        transform: perspective(350px) rotateX(30deg);
        overflow: hidden;
    }
    
    .text {
        color: white;
        /* grid-column: 2/3;
grid-row: 2/2;*/
        animation: trperspective(350px)ansl 5s linear 1s infinite forward;
        margin: auto;
        text-align: center;
        width: 500px;
        overflow: hidden;
    }
    
    @keyframes transl {
        0% {
            transform: translate3d(0);
        }
        50% {
            transform: translate3d(42px, -62px, -135px);
        }
        100% {
            transform: translate3d(-2.7rem, 0, 1rem);
        }